alabaster==0.7.12
appnope @ file:///Users/runner/miniforge3/conda-bld/appnope_1635819647402/work
argon2-cffi==21.1.0
asn1crypto==0.24.0
attrs==19.3.0
Babel==2.8.0
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
bcrypt==3.1.7
beautifulsoup4==4.10.0
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1629908509068/work
boto3==1.13.3
botocore==1.16.3
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
click==8.0.3
cloudpickle==1.6.0
cryptography==35.0.0
-e git+https://github.com/cage-challenge/cage-challenge-1.git@8d2e4d048151110ad612dae00f4fa62e5057248e#egg=CybORG&subdirectory=CybORG
cycler==0.11.0
debugpy @ file:///Users/runner/miniforge3/conda-bld/debugpy_1636043372408/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1631346842025/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
Deprecated==1.2.13
docutils==0.15.2
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1605121927639/work/dist/entrypoints-0.3-py2.py3-none-any.whl
filelock==3.4.0
future==0.17.1
grpcio==1.41.1
grpcio-tools==1.41.1
gym==0.19.0
idna==3.3
imagesize==1.3.0
importlib-metadata==1.3.0
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1635615662634/work
iniconfig==1.1.1
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1636571521994/work/dist/ipykernel-6.5.0-py3-none-any.whl
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1635632558290/work
ipython-genutils==0.2.0
jedi @ file:///Users/runner/miniforge3/conda-bld/jedi_1635824203037/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1636510082894/work
jmespath==0.10.0
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1636165360877/work
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1633454794268/work
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions @ file:///home/conda/feedstock_root/build_artifacts/jupyter_contrib_nbextensions_1614931162960/work
jupyter-core @ file:///Users/runner/miniforge3/conda-bld/jupyter_core_1635407484999/work
jupyter-highlight-selected-word @ file:///Users/runner/miniforge3/conda-bld/jupyter_highlight_selected_word_1611341029944/work
jupyter-latex-envs @ file:///home/conda/feedstock_root/build_artifacts/jupyter_latex_envs_1614852190293/work
jupyter-nbextensions-configurator @ file:///Users/runner/miniforge3/conda-bld/jupyter_nbextensions_configurator_1611341144578/work
jupyterlab-pygments==0.1.2
kiwisolver==1.3.2
lxml @ file:///Users/runner/miniforge3/conda-bld/lxml_1635962229296/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1635833661769/work
matplotlib==3.4.3
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1631080358261/work
mistune @ file:///Users/runner/miniforge3/conda-bld/mistune_1635844768785/work
mkl-fft==1.3.1
mkl-random @ file:///opt/concourse/worker/volumes/live/f196a661-8e33-4aac-63bc-efb2ff50e035/volume/mkl_random_1626186080069/work
mkl-service==2.4.0
more-itertools==8.0.2
msgpack==1.0.2
nbclient==0.5.5
nbconvert==6.2.0
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1617383142101/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1617163391303/work
networkx==2.6.3
notebook==6.4.5
numpy==1.21.4
olefile @ file:///Users/ktietz/demo/mc3/conda-bld/olefile_1629805411829/work
packaging==19.2
pandas==1.3.5
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
paramiko==2.6.0
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1617148930513/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
pika==1.1.0
Pillow==8.4.0
pluggy==0.13.1
pprintpp==0.1.0
prettytable==0.7.2
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1635538335951/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1636045889479/work
protobuf==3.19.1
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
py==1.9.0
pycparser==2.19
pydata-sphinx-theme==0.6.3
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1629119114968/work
pymetasploit3==1.0.3
PyNaCl==1.3.0
pyparsing==2.4.5
pyrsistent @ file:///Users/runner/miniforge3/conda-bld/pyrsistent_1636052947656/work
pytest==6.0.1
pytest-lazy-fixture==0.6.2
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz==2021.3
pyvelociraptor==0.1.3
PyYAML==5.1.2
pyzmq @ file:///Users/runner/miniforge3/conda-bld/pyzmq_1635877502229/work
ray==1.9.0
redis==4.0.2
requests==2.26.0
retry==0.9.2
s3transfer==0.3.7
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1628511208346/work
six==1.12.0
snowballstemmer==2.1.0
soupsieve==2.3
Sphinx==3.0.3
sphinx-book-theme==0.1.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sshtunnel==0.1.5
stable-baselines3==1.3.0
term==2.3
terminado @ file:///Users/runner/miniforge3/conda-bld/terminado_1636052334098/work
testpath @ file:///home/conda/feedstock_root/build_artifacts/testpath_1621261527237/work
toml==0.10.2
torch==1.10.0
torchaudio==0.10.0
torchvision==0.11.1
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1635819838703/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1635260543454/work
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1631814937681/work
urllib3==1.25.11
wcwidth==0.1.7
webencodings==0.5.1
wrapt==1.13.3
zipp==3.6.0
