absl-py==0.13.0
aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aioredis==1.3.1
alabaster==0.7.12
asn1crypto==0.24.0
astunparse==1.6.3
async-timeout==3.0.1
attrs==21.2.0
Babel==2.8.0
bcrypt==3.1.7
beautifulsoup4==4.10.0
bidict==0.21.4
blessings==1.7
boto3==1.13.3
botocore==1.16.3
cachetools==4.2.2
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.7
click==8.0.3
cloudpickle==1.6.0
cmd2==1.5.0
colorama==0.4.4
colorful==0.5.4
construct==2.10.67
crypt-0 @ file:///Users/chicks/OneDrive%20-%20The%20Alan%20Turing%20Institute/Documents/Development/Reinforcement%20Learning/rl-crypt
cryptography==35.0.0
-e git+https://github.com/cage-challenge/cage-challenge-1.git@e76722dcd79a6b7511e185cde34fac1e0b45720e#egg=CybORG&subdirectory=CybORG
cycler==0.10.0
decorator==5.1.0
dm-tree==0.1.6
docopt==0.6.2
docutils==0.15.2
filelock==3.0.12
flatbuffers==1.12
future==0.17.1
gast==0.4.0
google-api-core==1.31.0
google-auth==1.33.1
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
googleapis-common-protos==1.53.0
gpustat==0.6.0
grpcio==1.41.0
grpcio-tools==1.41.0
gsm0338==1.0.0
gym==0.19.0
h5py==3.1.0
hiredis==2.0.0
idna==3.3
imagesize==1.2.0
importlib-metadata==1.3.0
iniconfig==1.1.1
iso8601==0.1.16
Jinja2==3.0.2
jmespath==0.10.0
jsonpath-ng==1.5.3
jsonschema==3.2.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
lz4==3.1.3
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.3
more-itertools==8.0.2
msgpack==1.0.2
multidict==5.1.0
networkx==2.6.3
numpy==1.19.3
nvidia-ml-py3==7.352.0
oauthlib==3.1.1
opencensus==0.7.13
opencensus-context==0.1.2
opencv-python-headless==3.4.15.55
opt-einsum==3.3.0
packaging==21.0
pandas==1.3.0
paramiko==2.6.0
pika==1.1.0
Pillow==8.4.0
pipreqs==0.4.11
pluggy==0.13.1
ply==3.11
pprintpp==0.1.0
prettytable==0.7.2
prometheus-client==0.11.0
protobuf==3.19.0
psutil==5.8.0
py==1.9.0
py-spy==0.3.7
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.1
pycparser==2.19
pycryptodome==3.10.1
pydantic==1.8.2
pydata-sphinx-theme==0.6.3
pyglet==1.5.15
Pygments==2.10.0
PyGObject==3.40.1
pymetasploit3==1.0.3
PyNaCl==1.3.0
pyparsing==2.4.7
pyperclip==1.8.2
pyproj==3.0.0.post1
pyrsistent==0.18.0
pyscard==2.0.2
pyshp==2.1.2
pytest==6.0.1
pytest-lazy-fixture==0.6.2
python-dateutil==2.8.2
pytlv==0.71
pytz==2021.3
pyvelociraptor==0.1.3
PyYAML==5.4.1
qrcode==7.3.1
ray==1.9.2
redis==3.5.3
requests==2.26.0
requests-oauthlib==1.3.0
retry==0.9.2
rsa==4.7.2
s3transfer==0.3.7
scipy==1.7.0
serial==0.0.97
six==1.15.0
snowballstemmer==2.1.0
soupsieve==2.2.1
Sphinx==3.0.3
sphinx-book-theme==0.1.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sshtunnel==0.1.5
stable-baselines3==1.3.0
tabulate==0.8.9
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.4
tensorflow==2.5.0
tensorflow-estimator==2.5.0
term==2.3
termcolor==1.1.0
toml==0.10.2
torch==1.10.0
typing-extensions==3.7.4.3
urllib3==1.26.6
wcwidth==0.1.7
Werkzeug==2.0.1
wrapt==1.12.1
yarg==0.1.9
yarl==1.6.3
zipp==0.6.0
